body{
	background-color: #232323;
	margin: auto;
}

.header{
	background-color: white;
	height: 70px;
}

ul{
	display: flex;
	float: right;
}
li{
	list-style: none;
	color: violet;
	margin-right: 20px;
	margin-top: 10px;
}
a{
	color: violet;
	text-decoration: none;
}

a:hover{
	color: red;
}
